/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kablammo&family=Lugrasimo&family=Merienda:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,500;0,700;1,100;1,200;1,700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&family=Nunito:wght@200;800&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&family=Roboto+Mono:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,100;0,300;1,100&family=Sofia+Sans+Condensed:ital,wght@1,1&family=Yuji+Boku&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
* {
    font-family: 'Montserrat', sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #013f3c7f;
    border-radius: 10px;
}

/* Icon styles */
i {
    cursor: pointer;
}

i:hover {
    color: white;
    font-size: 20px;
}

/* Media query for phone size */
@media screen and (max-width: 640px) {
    .text-7xl {
        font-size: 3xl;
    }
   
}

/* Media query for tablet size */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .text-7xl {
        font-size: 4xl;
    }
    
    .paragraph {
        font-size: 16px;
        line-height: 1.6;
    }
}
